html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.container-text{
    background-image: url(images/image1.png);
    min-height: 100vh;

}

.container-text1{
    background-image: url(images/image2.png);
    min-height: 400px;
}

.container-text2{
    background-image: url(images/image3.png);
    min-height: 400px;
}
.container-text,.container-text1,.container-text2{
position: relative;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.text{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    letter-spacing: 6px;
    font-size: 3vw;
    color: azure;
    text-transform: uppercase;
}
.back{
    background-color: #131111;
    color: aliceblue;
    padding: 20px;
}

.sectionn{
    padding: 50px 80px;
    text-align: center;
    background-color: #f4f4f4;
    color: gray;
}
.section-2{
    background-color: #424040;
    padding: 50px 80px;
    text-align: center;
    color: aliceblue;
}